<body>
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center opacity-70">
    <div><h1>Repository Search</h1></div>

    <div>
      <p> Please enter a key word to search </p>
      <%= form_tag github_repository_index_path, method: :get do %>
        <div class="input-group">
          <%= text_field_tag :repo_name, nil, placeholder: 'search here', class: 'form-control' %>
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</body>