body {
  background-color: #dbdbdb !important;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none !important;
  color: #333;
}

a:hover {
  text-decoration: none !important;
  color: #333;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
}

.opacity-70 {
  opacity: 70%;
}

.l-size {
  font-size: 30px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-style {
  clear: both;
}

.bg-light-gray {
  background-color: #c8c8c8;
}
